th {
    text-transform: uppercase;
}

td, th {
    width: 26px;
    height: 26px;
}

#glyphs {
    border: 1px solid #000;
    padding: 4px;
    margin: 10px 0;
}

.glyph {
    text-align: center;
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid #000;
    padding: 2px;
    margin: 0 4px 4px 0;
}
